.card {
    border: 1px solid gainsboro;
    height: 200px;
    width: 300px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 0.5em;
    height: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}
